
* {
  margin: 0;
  padding: 0;
}

.snows div{
  position: fixed; 
  top: -250px; 
  left: 0;
  border-radius: 50%; 
  background: #fff; 
  opacity: 0.8; 
}


.snows div:nth-child(1){
  width: 10px;
  height: 10px;
  filter: blur(2px); 
  box-shadow:
    5vw -40px 0 #fff,
    10vw 150px #fff,
    15vw -230px #fff,
    22vw 240px #fff,
    30vw 120px #fff,
    35vw -180px #fff,
    44vw 240px #fff,
    50vw 0 #fff,
    60vw 180px #fff,
    68vw 40px #fff,
    74vw -130px #fff,
    81vw -240px #fff,
    88vw 100px #fff,
    95vw 60px #fff;
    animation: fall 12s linear infinite;
}
.snows div:nth-child(2){
  width: 10px;
  height: 10px;
  filter: blur(2px); 
  box-shadow:
    7vw 220px 0 #fff,
    35vw 20px #fff,
    68vw 100px #fff,
    93vw -190px #fff;
  animation: fall 12.5s linear infinite;
  animation-delay: 6s; 
}


.snows div:nth-child(3){
  width: 14px;
  height: 14px;
  filter: blur(3px); 
  box-shadow:
    12vw 5px 0 #fff,
    32vw -100px #fff,
    45vw -180px #fff,
    68vw 40px #fff,
    77vw 65px #fff,
    94vw 230px #fff;
  animation: fall 10s linear infinite; 
  animation-delay: 6s;
}

.snows div:nth-child(4){
  width: 20px;
  height: 20px;
  filter: blur(8px); 
  box-shadow:
    40vw -200px #fff,
    80vw 220px #fff;
  animation: fall 7s linear infinite; 
  animation-delay: 4s;
}

@keyframes fall{
  0%{
    top: -250px;
  }
  100% {
    top: calc(100% + 250px);
  }
}

img{
  width: 100%;
  height: auto;
}

.text{
font-family: 'PT Serif', serif;
position: absolute;
        top:50%;
        left: 20%;
        font-size:2rem;
        color: red;
}


body{
  background: #00001c;
}